.manageJudgePage {
  height: 100%;
  display: flex;
  flex-direction: column;

  .actionSection {
    gap: 30px;
    display: flex;
    flex-direction: row;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    .listOfAssessment {
      flex: 1;

      .assessmentCard {
        display: flex;
        flex-direction: row;
        align-items: center;

        .inforAssessment {
          flex: 1;
          .fieldInfor {
            display: flex;
            gap: 5px;
            flex-direction: row;
            font-size: 14px !important;

            .upperCase {
              font-size: inherit;
              font-weight: bold !important;
            }
          }
        }

        &.done {
          background-color: #d8d8d8;
        }
      }
    }
  }
}
