.personalReflectionPage {
  @import './manageJudge.scss';
  @import './doPersonalReflection.scss';
  @import './assessmentAnalysis.scss';

  display: flex;
  flex-direction: column;
  height: 100%;

  .personalSection {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f2f3f5;
    color: #6d7982;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    padding: 10px;

    .manageJudge,
    .analysis {
      flex: 1;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      height: 100%;
      position: relative;
      cursor: pointer;
    }

    .manageJudge.primary,
    .analysis.primary {
      background-color: white;
    }
  }
}

.containerModal {
  display: flex;
  flex-direction: row;

  .settingEssentialInfor {
    width: 50%;
    padding: 10px;
  }

  .setting-criteria {
    width: 50%;
    padding: 10px;

    .criteria {
      display: flex;
      flex-direction: row;

      .dynamic-delete-button {
        position: relative;
        top: 4px;
        margin: 0 8px;
        color: #999;
        font-size: 24px;
        cursor: pointer;
        transition: all 0.3s;
      }
      .dynamic-delete-button:hover {
        color: #777;
      }
      .dynamic-delete-button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }
      [data-theme='dark'] .dynamic-delete-button {
        color: rgba(255, 255, 255, 0.45);
      }
      [data-theme='dark'] .dynamic-delete-button:hover {
        color: rgba(255, 255, 255, 0.65);
      }
    }

    .actionOfCriteriaList {
      display: flex;
      gap: 10px;
      flex-direction: row;
    }
  }
}

.content {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
