.healthCheckConfiguration {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .statement {
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    color: #6d7982;
    border-radius: 5px;
    padding: 0 10px;
  }
}

.createHealthCheckModal,
.updateHealthCheckModal {
  .ant-form-item {
    margin-bottom: 0;
  }

  .dynamic-delete-button {
    position: relative;
    top: 4px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
