@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *::before, *::after, *:not(textarea)
	margin: 0px 
	padding: 0 
	// font-family: 'Inter', sans-serif;
	user-select: none


html 
	box-sizing: border-box

body 
	height: 100%



// p, input
// 	font-family: 'Inter', sans-serif;
// 	font-weight: 400 !important

// div, span
// 	font-family: 'Inter', sans-serif;
// 	font-weight: 400 !important


.ant-layout 
	height: 100vh
	width: 100%
	display: flex
	padding: 10px 10px 0px 10px
	background-color: #fefefe !important

	&.ant-layout-has-sider 
	flex-direction: column
	width: 100% 
	padding: 0 
	margin: 0px 
	background: #fff

code
	font-family: 'Inter', sans-serif;
	// font-weight: 700
	-webkit-font-smoothing: antialiased

	

.flex
	display: flex
	flex-direction: column

	&-wrap
		flex-wrap: wrap

	&-ai-self-se
		align-self: self-end
	&-ai-self-fs
		align-self: flex-start
	&-ai-self-ss
		align-self: self-start

	&-gap-5 
		gap: 5px
	&-gap-10
		gap: 10px
	&-gap-24
		gap: 24px

	&-1
		flex: 1
	&-2
		flex: 2
	&-3
		flex: 3
	&-4
		flex: 4
	&-5
		flex: 5
	&-6
		flex: 6
	&-7
		flex: 7
	&-11
		flex: 11

	&-jc-sb
		justify-content: space-between

	&-jc-sa
		justify-content: space-around

	&-jc-c
		justify-content: center
	&-jc-s
		justify-content: stretch
	&-jc-bl
		justify-content: baseline
	&-jc-start
		justify-content: start
	&-jc-end
		justify-content: end

	&-ai-c
		align-items: center
	&-ai-s
		align-items: stretch
	&-ai-bl
		align-items: baseline
	&-ai-e
		align-items: end
	&-ai-st
		align-items: flex-start
	&-ai-fe
		align-items: flex-end

	&-dir-c
		flex-direction: column

	&-dir-r
		flex-direction: row

.ant-btn
	border-radius: 10px
	&-small
		font-size: 10px !important
		height: 18px !important

.ant-page-header-heading-extra 
	span 
		font-weight: bold

.ant-empty
	height: 100%
	width: 100%

.ant-modal-content
	overflow: auto
	border-radius: 24px

.ant-input
	border-radius: 10px

.ant-layout-header
	padding: 0 0 0 10px
	border-bottom-right-radius: 30px

.ant-layout-footer
	text-align: center
	padding: 1px
	background-color: #fff
	backdrop-filter: saturate(200%) blur(1.875rem)

.ant-tabs-tabpane
	overflow: auto

.ant-card
	margin: 5px
	border-radius: 10px

	.ant-card-body 
		width: 100%
		display: flex !important
		flex: 1 !important
		flex-direction: column !important
		overflow: hidden !important

.ant-card-actions
	border-radius: 10px

.sider-trigger
  position: absolute
  top: 15px
  right: -25px
  width: 25px
  height: 25px
  line-height: 25px
  text-align: center
  color: #fff
  background: #f7f8fa
  border-radius: 0 4px 4px 0
  cursor: pointer


.ant-tabs-tab .ant-tabs-tab-btn
  div 
	  font-weight: bold

.site-page-header 
  border: 1px solid rgb(235, 237, 240);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 2px -2px, rgba(0, 0, 0, 0.12) 0 3px 6px 0, rgba(0, 0, 0, 0.09) 0 5px 12px 4px

.ant-layout
	.ant-layout-content
		// overflow: auto

.ant-tabs-tab:hover 
.ant-spin
  color: #a4a0f1

.ant-menu-item-selected 
	background-color: #8682ef !important

.ant-row
	width: 100%

.ant-page-header-heading-title 
	color: inherit
	font-weight: bold

.ant-spin-dot-item
	background-color: #a4a0f1



.p 
	&-horizontal-10
		padding: 0px 10px 0px 10px
	&-vertical-10
		padding: 10px 0px 10px 0px
	&-horizontal-20
		padding: 0px 20px 0px 20px
	&-vertical-20
		padding: 20px 0px 20px 0px
	&-5
		padding: 5px
	&-10
		padding: 10px
	&-20
		padding: 20px

.color
	&-white
		color: white
	&-black 
		color: black
	&-red
		color: red
	&-green
		color: green
	&-orange
		color: orange

.width
	&-100
		width: 100%

.mb
	&-10
		margin-bottom: 10px
	&-11
		margin-bottom: 11px
	&-12
		margin-bottom: 12px
	&-13
		margin-bottom: 13px
	&-14
		margin-bottom: 14px

.mt
	&-10
		margin-top: 10px
	&-11
		margin-top: 11px
	&-12
		margin-top: 12px
	&-25
		margin-top: 25px

.ml
	&-10
		margin-left: 10px
	&-11
		margin-left: 11px
	&-12
		margin-left: 12px

.mr
	&-7
		margin-right: 5px
	&-10
		margin-right: 10px
	&-11
		margin-right: 11px
	&-12
		margin-right: 12px

.card
		padding: 30px
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.02), 0 2px 3px 0 rgba(0, 0, 0, 0.02), 0 2px 7px 0 rgba(0, 0, 0, 0.04);
		background: #fff
		border-radius: 8px
		background-color: #fff

		// padding: 24px
.white
	background-color: #fed7de
.pink
	background-color: #fed7de
.lpink
	background-color: #ffe6cd
.orange 
	background-color: #fff4cc
.lblue
	background-color: #cdf7f0
.blue
	background-color: #d0edfb
.green
	background-color: #e5f6d2
.purple
	background-color: #e4ddfe
.dpurple
	background-color: #a4a0f1
.red 
	background-color: #ff726f

.page

.bold 
	font-weight: bold !important

.scrollable
	width: 100%
	height: 100%
	overflow-y: auto
	margin: 7px
.non-scroll
	overflow: hidden

.highligh 
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 2px -2px, rgba(0, 0, 0, 0.12) 0 3px 6px 0, rgba(0, 0, 0, 0.09) 0 5px 12px 4px


.dot 
	width: 20px
	height: 20px 
	border-radius: 10px 

