@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; }

body, .ant-layout-sider {
  background-color: #f7f8fa; }

code {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased; }

.flex {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .flex-1 {
    flex: 1; }
  .flex-2 {
    flex: 2; }
  .flex-3 {
    flex: 3; }
  .flex-4 {
    flex: 4; }
  .flex-5 {
    flex: 5; }
  .flex-6 {
    flex: 6; }
  .flex-7 {
    flex: 7; }
  .flex-11 {
    flex: 11; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-sa {
    justify-content: space-around; }
  .flex-jc-c {
    justify-content: center; }
  .flex-jc-s {
    justify-content: stretch; }
  .flex-jc-start {
    justify-content: start; }
  .flex-jc-end {
    justify-content: end; }
  .flex-ai-c {
    align-items: center; }
  .flex-ai-s {
    align-items: stretch; }
  .flex-dir-c {
    flex-direction: column; }
  .flex-dir-r {
    flex-direction: row; }

.ant-btn {
  border-radius: 10px; }
  .ant-btn-small {
    font-size: 10px !important;
    height: 18px !important; }

.ant-empty {
  height: 100%;
  width: 100%; }

.ant-modal-content {
  overflow: auto;
  border-radius: 24px; }

.ant-input {
  border-radius: 10px; }

.ant-layout-header {
  padding: 0 0 0 10px;
  border-bottom-right-radius: 30px; }

.ant-tabs-tabpane {
  overflow: auto; }

.ant-card {
  border-radius: 10px; }

.ant-card-actions {
  border-radius: 10px; }

.sider-trigger {
  position: absolute;
  top: 15px;
  right: -25px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background: #f7f8fa;
  border-radius: 0 4px 4px 0;
  cursor: pointer; }

.anticon {
  line-height: 25px; }

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #a4a0f1;
  text-shadow: 0 0 0.25px currentColor; }

.ant-spin {
  color: #a4a0f1; }

.ant-spin-dot-item {
  background-color: #a4a0f1; }

.mb-10 {
  margin-bottom: 10px; }

.mb-11 {
  margin-bottom: 11px; }

.mb-12 {
  margin-bottom: 12px; }

.mb-13 {
  margin-bottom: 13px; }

.mb-14 {
  margin-bottom: 14px; }

.mt-10 {
  margin-top: 10px; }

.mt-11 {
  margin-top: 11px; }

.mt-12 {
  margin-top: 12px; }

.ml-10 {
  margin-left: 10px; }

.ml-11 {
  margin-left: 11px; }

.ml-12 {
  margin-left: 12px; }

.mr-7 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-11 {
  margin-right: 11px; }

.mr-12 {
  margin-right: 12px; }

.card-wreflect {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.02), 0 2px 3px 0 rgba(0, 0, 0, 0.02), 0 2px 7px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-top: 25px;
  border-radius: 8px;
  background-color: #fff;
  padding: 24px; }

.ant-menu.ant-menu-dark .ant-menu-sub, .ant-layout-sider-trigger {
  background: #a4a0f1; }

.ant-layout-sider-children {
  background-color: #a4a0f1; }

.ant-layout-sider-trigger {
  border-bottom-right-radius: 30px; }

span.ant-tabs-separator {
  display: none; }

.btn-new-team {
  float: right;
  margin-right: 15px; }

.site-layout .site-layout-background {
  background: #fff;
  border-radius: 20px; }

.ant-menu.ant-menu-dark, .ant-layout-sider-trigger {
  background-color: #a4a0f1; }

.ant-upload.ant-upload-select.ant-upload-select-text {
  margin: 15px 0px; }

.ant-tabs-content {
  height: 100%; }

div#rc-tabs-2-panel-1 {
  align-items: normal !important;
  justify-content: normal !important; }

ul.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  display: none !important; }

ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  margin: 20px 0px 0px 0px; }

.teamDetails .nameTeam {
  font-family: 'Poppins';
  font-size: 30px;
  font-style: "oblique"; }

.profileUser .bar, .profileUser .actions {
  padding: 15px 2%;
  border-top: 1px solid #e7eaea;
  width: 60%; }

.profileUser .actions {
  position: relative; }

.profileUser .ant-btn {
  float: right;
  width: auto; }

.profileUser .ant-form-item {
  margin-bottom: 0px; }

.profileUser textarea {
  resize: none !important; }

.sidebar {
  position: fixed;
  height: 100%;
  z-index: 200 !important;
  background-color: #f7f8fa; }
  .sidebar .ant-layout-logo {
    height: 32px;
    background: #f7f8fa;
    border-radius: 6px;
    margin: 16px; }

.topNavBar {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #fff; }
  .topNavBar .titleLogo {
    font-family: "Baloo Bhai";
    font-size: 40px; }
